@import '../fonts/css/quicksand.css';
@import '../fonts/css/roboto.css';

/* - COMMON - */

* {
	margin:0px;
	padding:0px;
	/*font-family: QuickSand;*/
	font-family: Roboto;
}

html, body, header, footer, .page {
	width: 100%;
	text-align: center;
}

html, body {
	height: 100%;
}

body {
	text-align:center; 
	background:#111;
	background:linear-gradient(to bottom, #123, #000);
	color:#fff;
}

a {
	color: #00a5b6;
	text-decoration: none;
	border-bottom: 1px solid rgba(180, 180, 180, 0);
	transition: border-bottom 0.2s ease-out;
}

header nav a:hover, .content a:hover {
	color: #fff;
	border-bottom: 1px solid rgba(180, 180, 180, 0.5);
}

.loading-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #000;
	z-index: 9999;
}

.loading {
	left: -30px;
	top: -30px;
	position: absolute;
	z-index: 100;
	font-size: 42px;
	color: #fff;
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



/* - HELPERS - */

.clear {
	clear: both;
	width: 0px !important;
	height: 0px !important;
}

.anchor {
	position: absolute;
	width: 0px;
	height: 0px;
	top: 50%;
	left: 50%;
}

.image-holder {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.image-holder a {
	border: none;
	width: 100%;
	height: 100%;
	display: block;
}

.wrapper {
	width: 1000px; /* CONTENT_WIDTH */
	margin: auto;
	position: relative;
}

.page_header {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 0;
}

.header-item {
	position: absolute;
	z-index: 1;
	min-width: 70px;
	min-height: 70px;
	top: 0px;
}

.header-item > * {
	float: left;
}

.footer-item {
	position: absolute;
	z-index: 1;
	top: 40px;
}

.empty-space {
	height: 50px;
}

.object-pool {
	display: none;
}

/* - MENU - */

nav a {
	float: left;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
}

header nav {
	margin-top: 23px; /* FLOOR((IMAGE_HEIGHT - (MENU_HEIGHT + MENU_ITEM_PADDING)) / 2) */
	margin-left: 5px;
}

header nav a {
	font-size: 19px; /* MENU_HEIGHT */
	padding: 2px 5px; /* MENU_ITEM_PADDING */
	color: #a03761;
}

header nav a:hover, header nav a.active {
	color: #ffffff;
}

.menu-footer {
	left: 0px;
}

.menu-footer a {
	color: #fff;
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

.menu-footer a:hover {
	opacity: 0.8;
}

.menu-footer > * {
	width: 170px;
	text-align: left;
	float: left;
}

.menu-social {
	right: 0px;
	text-align: left;
	color: #fff;
}

.menu-social a {
	font-size: 18px;
	font-weight: bold;
	color: #00a5b6;
	text-align: center;
	margin-right: 10px;
	margin-top: 15px;
	padding: 5px;
	border-radius: 20px;
	box-shadow: 0 0 3px rgba(255, 255, 255, 1);
	width: 21px;
	height: 21px;
	transition: box-shadow 0.2s ease-out, opacity 0.2s ease-out;
}

.menu-social a:hover {
	box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
	opacity: 0.8;
}

.menu-social a i {
	width: 18px;
	height: 18px;
}



/* - HEADER - */

header {
	height: 460px;
	font-size: 60px;
	font-weight: bold;
	opacity: 0.8;
	color: #000;
	background-size: cover;
	background-image: url('../img/header-bg.jpg');
}

header .menu {
	left: 0px;
}

header .wrapper {
	height: 100%;
}

.image-left {
	width: 150px;
	height: 150px; /* IMAGE_HEIGHT */
	background-image: url('../img/image-left.png');
}

.image-right {
	width: 150px;
	height: 150px; /* IMAGE_HEIGHT */
	right: 0px;
	background-image: url('../img/image-right.png');
}

.home_header {
	background-image: url('../img/home-header.png');
}



/* - CONTENT - */

.content {
	min-height: 200px;
	width: 100%;
	text-align: left;
}

.content h1, .content h2 {
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	padding: 0px;
}

.content h1 {
	font-size: 49px;
	color: #243746;
	margin: 34px 20px 37px 0px; 
}

.content h2 {
	font-size: 32px;
	color: #243746;
	margin-top: 54px;
	margin-bottom: 34px;
}

.inner, .content p, .content h2 {
	margin-left: 20px;
	margin-right: 20px;
}

.content p {
	font-size: 19px;
	margin-top: 34px;
}

table.dataTable tbody tr {
	transition: background 0.2s ease-out;
}

table.dataTable tbody tr.even {
	background: #123;
}

table.dataTable tbody tr.odd {
	background: #234;
}

table.dataTable tbody tr:hover {
	background: #344058;
}

table.dataTable tbody tr:not(.overlay-present):hover {
	background: #3E4C5A;
}

table.dataTable tbody tr.overlay-present:hover {
	cursor: pointer;
}

.dataTables_info {
	display: none;
}

.dataTables_filter {
	position: absolute;
    top: -50px;
    height: 50px;
	z-index: 9999;
	width: -moz-available;
    width: -webkit-fill-available;
    margin-left: 285px;
	left: 0;
}

.dataTables_filter input {
	height: 29px;
    padding: 0 15px;
    font-size: 16px;
    margin: 10px 10px;
    border-radius: 15px;
	background: linear-gradient(to right, #057, #023);
	box-shadow: 1px 1px 3px #111;	
	border: none;
	width: -moz-available;
	width: -webkit-fill-available;
	color: #fff;
	opacity: 0.7;
	transition: opacity 0.2s ease-out;
}

.dataTables_filter input:hover {
	opacity: 0.85;
}

.dataTables_filter input:focus {
	outline: none;
	opacity: 1;
}

.dataTables_filter input::-webkit-input-placeholder {
	color: #fff;
}

.dataTables_filter input::-moz-placeholder {
	color: #fff;
}

.dataTables_filter input::-webkit-search-cancel-button {
	background: #fff;
}

.type .ru, .type .en, .name .ru, .name .en {
	white-space: nowrap;
}

tr .ru, tr .en {
	margin: 10px 0;
}

tr .en {
	color: #999;
}

tr .ru a {
	color: #0bd;	
}

tr .en a {
	color: #0ca;
}

.item-overlay-wrapper, .item-overlay-background {
	position: fixed;
	display: none;
}

.item-overlay-wrapper {
	z-index: 11000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
	justify-content: center;
	overflow: hidden;
}

.item-overlay-background {
	background: #000;
	opacity: 0.6;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}

.item-overlay-column, .item-overlay {
	width: 1280px;	
	transition-property: width, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.item-overlay-column {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.item-overlay {
	height: 720px;
	z-index: 11000;
	position: relative;
	background: #000;
}

@media all and (max-width: 1400px) {
	.item-overlay-column, .item-overlay {
		width: 1000px;
	}
	.item-overlay {
		height: 562px;
	}
}

@media all and (max-height: 800px) {
	.item-overlay-column, .item-overlay {
		width: 1000px;
	}
	.item-overlay {
		height: 562px;
	}
}

@media all and (max-width: 1150px) {
	.item-overlay-column, .item-overlay {
		width: 800px;
	}
	.item-overlay {
		height: 450px;
	}
}

@media all and (max-height: 680px) {
	.item-overlay-column, .item-overlay {
		width: 800px;
	}
	.item-overlay {
		height: 450px;
	}
}

.item-overlay .screenshot, .item-overlay .lore {
	display: none;
}

.item-overlay-wrapper.screenshot-present .screenshot {
	display: block;
}

.item-overlay-wrapper.lore-present .lore {
	display: block;
}

.item-overlay .background {
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
}

.item-overlay .screenshot {
	width: 100%;
	height: 100%;
}

.item-overlay .screenshot img {
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.item-overlay .screenshot img.active {
	opacity: 1;
}

.item-overlay .lore {
	text-align: justify;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    max-height: 100%;
    overflow-y: auto;
	z-index: 3000;
}

.item-overlay .lore * {
	padding: 20px;
    text-shadow: 1px 1px 3px #000;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
    margin-top: 96px;
}

.item-overlay .en,
.original .item-overlay .ru {
	display: none;
}

.original .item-overlay .en {
	display: block;
}

.icon-button-holder {
	position: fixed;
	bottom: 0;
	width: 70px;
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 5000;
	opacity: 0.5;
	font-size: 30px;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	transition-property: opacity, font-size;
}

.item-overlay .language {
	right: 0;	
}

.item-overlay .details {
	right: 40px;
}

.icon-button-holder i {
	transition: opacity 0.2s ease-out;
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.icon-button-holder:hover {
	cursor: pointer;
	opacity: 0.9;
	font-size: 40px;
}

.original .item-overlay .language .ru_switcher,
.item-overlay .language .en_switcher,
.hide-details .item-overlay .details .show,
.item-overlay .details .hide {
	opacity: 0;
}

.original .item-overlay .language .en_switcher,
.hide-details .item-overlay .details .hide {
	opacity: 1;
}

.hide-details .item-overlay .lore,
.hide-details .item-overlay .info {
	opacity: 0;
}

.item-overlay .lore,
.item-overlay .info {
	opacity: 1;
	transition: opacity 0.2s ease-out;
}

.item-overlay .language .ru_switcher {
	color: #FC4545;
}

.item-overlay .language .en_switcher {
	color: #5D5DFF;
}

.item-overlay .details .show {
	color: #8B8B8B;
}

.item-overlay .details .hide {
	color: #56C956;
}

.filters {
	height: 50px;
	padding-left: 5px;
}

.filter {
	text-align: center;
	float: left;
	width: 130px;
	padding: 5px 0;
	margin: 10px 5px;
	border-radius: 5px 15px 15px 15px;
	box-shadow: 1px 1px 3px #111;
	opacity: 0.7;
	transition: background 0.2s ease-out, opacity 0.2s ease-out;
	position: relative;
}

.filter-any {
	background: #356;
}

.filter-on {
	background: #373;
}

.filter-off {
	background: #722;
}

.filter:hover {
	cursor: pointer;
	opacity: 1;
}

.filter i {
	position: absolute;
	top: 3px;
    left: 4px;
	font-size: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.filter.filter-any .fa-asterisk,
.filter.filter-on .fa-check,
.filter.filter-off .fa-times {
	opacity: 1;
}

.lore-filter-on .item:not(.lore-present),
.lore-filter-off .item.lore-present,
.screenshot-filter-on .item:not(.screenshot-present),
.screenshot-filter-off .item.screenshot-present {
	display: none;
}

.hidden {
	display: none;
}

.info {
	position: absolute;
    top: 0;
    left: 0;
    text-align: justify;
    display: flex;
    flex-direction: row;
	align-items: stretch;
	flex-wrap: nowrap;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    transition: opacity 0.2s ease-out;
	z-index: 3000;
	opacity: 0.8;
}

.info:hover {
	/* opacity: 1; */
}

.info > div {
	margin: 20px 0 20px 20px;	
}

.info .icon {
	background-size: cover;
    width: 64px;
    height: 64px;
	flex-grow: 0;
	flex-shrink: 0;
    position: relative;
    box-shadow: 1px 1px 3px #333;
}

td.icon {
	padding: 0 !important;
}

td.icon .img-wrapper {
	position: relative;
	width: 96px;
	height: 96px;
	margin: 8px 10px 8px 15px;
	overflow: hidden;
}

.info .icon, .icon .shadow, .icon .img-wrapper {
	border-radius: 15px;
}

.shadow {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
	opacity: 0.5;
	transition: opacity 0.2s ease-out;
}

tr:hover .shadow, .info:hover .shadow {
	opacity: 0.1;
}

tr img {
	width: 96px;
	height: 96px;
	transition: 0.2s ease-out;
}

tr:hover img {
	width: 106px;
	height: 106px;
	margin-left: -5px;
	margin-top: -5px;
}

.info .description {
	flex-grow: 1;
	color: #999;
	margin-right: 20px;
}

.info .name {
    flex-grow: 0;
	width: 300px;
	color: #fff;
}

.info .type {
	color: #0bd;
}

.left-shadow {
	background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.right-shadow {
	background: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
}

.close-overlay {
	flex-grow: 1;
	height: 102%;
	position: relative;
}

.close-overlay div {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	transition: opacity 0.2s ease-out;
}

.close-overlay:hover {
	cursor: pointer;
}

.close-overlay:hover div {
	opacity: 0.1;	
}

.close-overlay i {
	opacity: 0;
	transition: opacity 0.2s ease-out;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 30px;
	margin-left: -12px;
	margin-top: -15px;
}

.close-overlay:hover i {
	opacity: 0.5;
}

.arrow {
	position: relative;
	width: 100%;
	flex-grow: 1;
}

.arrow:hover {
	cursor: pointer;
}

.arrow i {
	opacity: 0.2;
	transition: opacity 0.2s ease-out;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 30px;
	margin-left: -14px;
	margin-top: -15px;
}

.arrow:hover i {
	opacity: 0.5;
}
